@{
    ViewBag.Title = "Administración Usuarios";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="list-group">
    <a href="../Usuarios/" class="list-group-item">
        <h4 class="list-group-item-heading">Usuarios</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar, Asignar Permisos) el listado de USUARIOS</p>
    </a>
    <a href="../pcOrganizacion/" class="list-group-item">
        <h4 class="list-group-item-heading">Operador de Red</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de Organizaciones</p>
    </a>
    <a href="../pcTipoOrg/" class="list-group-item">
        <h4 class="list-group-item-heading">Tipo Organización</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el tipo de Organizaciones, indispensable para Crear las organizaciones </p>
    </a>
    <a href="../ClaseCP/" class="list-group-item">
        <h4 class="list-group-item-heading">Clase Centro Poblado</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) la clase de centro poblado, indispensable para Crear los centros poblados </p>
    </a>
    <a href="../EstadoSub/" class="list-group-item">
        <h4 class="list-group-item-heading">Estado Subestación</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el estado de las Sub Estaciones, indispensable para Crear las Subestaciones </p>
    </a>
    <a href="../FuentesCs/" class="list-group-item">
        <h4 class="list-group-item-heading">Fuentes de Información</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) las fuentes de información. </p>
    </a>
    <a href="../TIpoCP/" class="list-group-item">
        <h4 class="list-group-item-heading">Tipo Centro poblado</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el tipo de Centro poblado, indispensable para Crear los centros poblados </p>
    </a>
    <a href="../NivelTension/" class="list-group-item">
        <h4 class="list-group-item-heading">Nivel de tensión</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) los niveles de tensión, indispensable para crear la tensión </p>
    </a>
    <a href="../Tension/" class="list-group-item">
        <h4 class="list-group-item-heading">Tensión</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) la tensión. </p>
    </a>
</div>