@{
    ViewBag.Title = "Administración Usuarios";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="list-group">
    <a href="../Usuarios/" class="list-group-item">
        <h4 class="list-group-item-heading">Usuarios</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar, Asignar Permisos) el listado de USUARIOS</p>
    </a>
    <a href="../pcOrganizacion/" class="list-group-item">
        <h4 class="list-group-item-heading">Operador de Red</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de Organizaciones</p>
    </a>
    <a href="../pcTipoOrg/" class="list-group-item">
        <h4 class="list-group-item-heading">Tipo Organización</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el tipo de Organizaciones, indispensable para Crear las organizaciones </p>
    </a>
</div>