@model NSPecor.Models.MUB_FUENTES_CS

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Borrar</h2>
<h3>Esta seguro que desea Eliminarlo?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM_FUENTE_CS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_FUENTE_CS)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Ver Listado", "Index")
        </div>
    }
</div>
